.zoomIn-box-img{
    height: 100%;
    width: 100%;
}

.zoomIn-box-wrapper{
    position: absolute;
    left: 10px;
    top: 10px;
    /*z-index: 999;*/
    height: 300px;
    width: 300px;
    background: #a39b9b;
}

/* media queries */
@media (max-width: 767px) {
    .zoomIn-box-wrapper{
        height: 120px;
        width: 120px;
    }
}